{%load static%}
<!DOCTYPE html>
<html lang="en">
{% include 'designer/nav.html' %}
<title>About - AspectHomes</title>
<!--/inner-page -->
<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">About Us<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>
<!--//inner-page -->
<!-- feature with photo1 -->
<section class="w3l-feature-with-photo-11">
		<div class="feature-with-photo-hny section-gap">
			<div class="wrapper">
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
					<!---728x90--->

				</div>

				<div class="feature-with-photo-content">
						<span class="hny-sub-head">Our Info</span>
					<h3 class="hny-title about-head text-center">Home Design Made Easy<span class="sub-dot">.</sub></h3>
					<p class="about-para">At AspectHomes, where interior design is more than just a profession—it's a passion. Founded on the belief that spaces should not only be visually stunning but also tell a compelling story, we are dedicated to transforming your vision into a living reality.we believe that the key to exceptional design lies in the seamless integration of form and function. </p>

				</div>
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			</div>
		</div>
	</section>
	<!-- //feature with photo1 -->
<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info section-gap">
		<div class="wrapper">
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src="{%static 'designer-assets/images/8.jpg'%}" class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Real History</span>
					<h4>Best Interior Designs for your client </h4>
					<p>As an interior designer, I offer comprehensive services to clients, beginning with an initial consultation to understand their vision, budget, and needs. My expertise encompasses space planning, concept development, and material selection, ensuring optimal functionality and aesthetic appeal. I provide custom design solutions, manage projects from start to finish, and offer budget planning and management. With 3D visualization, clients can preview designs before implementation. Post-completion, I offer styling services and address any maintenance needs, ensuring a seamless and satisfying design experience tailored to each client's preferences and lifestyle.</p>
						
				</div>
			</div>
		</div>
	</div>
</section>

 <!-- covers-19 -->
 <section class="w3l-covers-vv-main">
        <div class="covers-19">
            <div class="wrapper">
                <div class="end-covers-19">
                    <div class="midd-cover-19">
						<h6>Interior Designs</h6>
                        <h3 class="hny-title"><a href="/designerservice">Showcase your work to us..
                            </a></h3>
							<div class="button-6">
									<div class="eff-6"></div>
									<a href="blog-single.html" class="btn">Upload Your Work </a>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	{% include 'designer/footer.html' %}
</body>
</html>