{% load static %}
{% include 'designer/nav.html' %}
<title>Service - AspectHomes</title>
<!--/inner-page -->
<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">Services<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>

<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info section-gap">
		<div class="wrapper">
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src="{%static 'designer-assets/images/7.jpg'%}" class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Real History</span>
					<h4>Best Interior Designs for your Family</h4>
					<p>At AspectHomes we embark on a journey of creativity, blending aesthetics with functionality to craft spaces that inspire and captivate. As passionate interior designers, we believe that each project is a canvas, and every stroke of design adds a layer of personality and purpose</p>
						<div class="button-6">
								<div class="eff-6"></div>
								<a href="#" class="btn">Read More</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- /services-grids-->
	<section class="w3l-services-section">
		<div class="services-inner section-gap">
			<div class="wrapper">
					<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
							<!---728x90--->

						</div>
				<h3 class="hny-title text-center">How it works<span class="sub-dot">.</span></h3>
				<div class="service-grids d-grid">
					<div class="services-hny-gd">
						<span class="fa fa-user"></span>
						<h4><a href="single.html">Meet customer</a></h4>
						<p>Designers will explore the nuances of your project, discussing layout possibilities and design concepts that resonate with your vision.</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-picture-o"></span>
						<h4><a href="single.html">Propose budget</a></h4>
						<p>Our personalized budget proposals are tailored to suit your preferences, ensuring that the design journey is as seamless as it is stylish.</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-map-marker"></span>
						<h4><a href="single.html">Get Order</a></h4>
						<p>Customer will book its respective form via filling a form.With the help of the form the designer can contact the user</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-truck"></span>
						<h4><a href="single.html">Installation</a></h4>
						<p>Our installation module is a hassle-free setup process. Designed for simplicity ,it empowers users to install and configure our products.</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /services-grids-->
	</section>

{% include 'designer/footer.html' %}
</body>
</html>