{% load static %}
{% include 'nav.html' %}
<!-- Headers-4 block -->
 <!-- covers -->
 <section class="w3l-ecommerce-slider-main">
	<div class="ecommerce-banv covers-9">
		<div class="csslider infinity" id="slider1">
			<input type="radio" name="slides" checked="checked" id="slides_1" />
			<input type="radio" name="slides" id="slides_2" />
			<input type="radio" name="slides" id="slides_3" />

			<ul class="banner_slide_bg">
				<li>
					<div class="wrapper">
						<div class="cover-top-center-9">
							<div class="w3ls_cover_txt-9">
								<h6 class="tag-cover-9">Interior</h6>
								<h3 class="title-cover-9">Best Home Decoration & Furniture Idea</h3>
								<p class="para-cover-9"></p>
									<div class="button-61">
										<div class="eff-61"></div>
										<a href="/commingsoon" class="btn">Explore Now</a>
							    </div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="wrapper">
						<div class="cover-top-center-9">
							<div class="w3ls_cover_txt-9">
								<h6 class="tag-cover-9">Furniture</h6>
								<h3 class="title-cover-9">The Brighten up Interior Collection</h3>
								<p class="para-cover-9"></p>
									<div class="button-61">
										<div class="eff-61"></div>
										<a href="/commingsoon" class="btn">Explore Now</a>
							    </div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="wrapper">
						<div class="cover-top-center-9">
							<div class="w3ls_cover_txt-9">
								<h6 class="tag-cover-9">Interior</h6>
								<h3 class="title-cover-9">Best Home Decoration & Furniture Idea</h3>
								<p class="para-cover-9"></p>
									<div class="button-61">
										<div class="eff-61"></div>
										<a href="/commingsoon" class="btn">Explore Now</a>
							    </div>
							</div>
						</div>
					</div>
				</li>
				
			</ul>
			<div class="arrows">
				<label for="slides_1"></label>
				<label for="slides_2"></label>
				<label for="slides_3"></label>
				
			</div>
			<div class="navigation">
				<div>
					<label for="slides_1"></label>
					<label for="slides_2"></label>
					<label for="slides_3"></label>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //covers -->
	<!--/w3l-ecommerce-page-main-->
	<section class="w3l-ecommerce-page-main">
		<div class="ecom-gridsv section-gap ecom">
			<div class="wrapper">
					<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
							<!---728x90--->

						</div>
				<div class="fea-gd-vv">
					<div class="float-lt feature-gd">
						<div class="icon"><span class="fa fa-handshake-o icon-hny"></span></div>
						<div class="icon-info">
							<h3>Free Shipping Order</h3>
							<p>Enjoy Free Shipping all over the World!!</p>
						</div>
	
					</div>
					<div class="float-lt feature-gd">
						<div class="icon"><span class="fa fa-umbrella icon-hny"></span></div>
						<div class="icon-info">
							<h3>100% Money Gurantee</h3>
							<p>If any kind of Product found broken at the time of Delivery</p>
						
						</div>
	
					</div>
					<div class="float-rt feature-gd">
						<div class="icon"><span class="fa fa-credit-card icon-hny"></span></div>
						<div class="icon-info">
							<h3>Online Support 24/7</h3>
							<p>ContactUs any time.</p>
						
						</div>
					</div>
				</div>
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

				</div>
			</div>
		</div>
		<!--/w3l-ecommerce-page-main-->

	</section>
<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info explore-gd section-gap">
		<div class="wrapper">
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src="{%static 'assets/images/3.jpg'%}" class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Classic Chairs</span>
					<h4>Best Interior Designs for your Home</h4>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur
						consequatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio voluptatem tenetur
						consequatur adipisicing elit.</p>
						<div class="button-6">
								<div class="eff-6"></div>
								<a href="/commingsoon" class="btn">Shop Now</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
 <!-- covers-19 -->
 <section class="w3l-covers-vv-main">
        <div class="covers-19 ecomm-mid">
            <div class="wrapper">
                <div class="end-covers-19">
                    <div class="midd-cover-19">
						<h6>New Collections</h6>
                        <h3 class="hny-title">Best Home Decoration & Furniture Idea
                            </h3>
							<div class="button-6">
									<div class="eff-6"></div>
									<a href="/commingsoon" class="btn"> Shop Now </a>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //covers-19 -->
	{% include 'footer.html' %}
</body>
</html>