{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gallery - AspectHomes</title>
</head>

{% include 'nav.html' %}
<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">Our Gallery<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>
<!--//inner-page -->
<section class="w3l-gallery-pagev">
	<div class="gallery-content-infov section-gap">
		<div class="wrapper">
			<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;"><!---728x90---></div>

			<div class="gallery-grids">
				<div class="grid col-gd-4">
					<a href="#">
						<div class="gallery_grid1">
							<img src="{%static 'assets/images/g1.jpg'%}" alt=" " class="img-responsive">
							<div class="proj_gallery_grid1_pos">
								<h3>View</h3>
							</div>
						</div>
					</a>

					<a href="#">
					<div class="gallery_grid1">
						<img src="{%static 'assets/images/g2.jpg'%}" alt=" " class="img-responsive">
						<div class="proj_gallery_grid1_pos">
							<h3>View</h3>
						</div>
					</div>
					</a>
					<a href="#link">
						<div class="gallery_grid1">
							<img src="{%static 'assets/images/g3.jpg'%}" alt=" " class="img-responsive">
							<div class="proj_gallery_grid1_pos">
								<h3>Interior</h3>
							</div>
						</div>
				    </a>
					<a href="#link">
							<div class="gallery_grid1">
								<img src="{%static 'assets/images/g4.jpg'%}" alt=" " class="img-responsive">
								<div class="proj_gallery_grid1_pos">
									<h3>Interior</h3>
								</div>
							</div>
						</a>
				</div>
				<div class="grid col-gd-4">
						<a href="#">
							<div class="gallery_grid1">
								<img src="{%static 'assets/images/g5.jpg'%}" alt=" " class="img-responsive">
								<div class="proj_gallery_grid1_pos">
									<h3>360 View</h3>
								</div>
							</div>
						</a>
						<a href="#link">
						<div class="gallery_grid1">
							<img src="{%static 'assets/images/g1.jpg'%}" alt=" " class="img-responsive">
							<div class="proj_gallery_grid1_pos">
								<h3>Interior</h3>
							</div>
						</div>
						</a>
						<a href="#link">
							<div class="gallery_grid1">
								<img src="{%static 'assets/images/g2.jpg'%}" alt=" " class="img-responsive">
								<div class="proj_gallery_grid1_pos">
									<h3>Interior</h3>
								</div>
							</div>
						</a>
						<a href="#link">
								<div class="gallery_grid1">
									<img src="{%static 'assets/images/g8.jpg'%}" alt=" " class="img-responsive">
									<div class="proj_gallery_grid1_pos">
										<h3>Interior</h3>
									</div>
								</div>
							</a>
					</div>
				
			</div>
			<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
					<!---728x90--->

				</div>
		</div>
	</div>
	<!--//gallery-->
	</div>
</section>
{%include 'footer.html'%}
</body>
</html>