{% load static  %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Services - AspectHomes</title>
	</head>
{% include 'nav.html' %}
<!--/inner-page -->
<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">Services<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>
<!--//inner-page -->
<!-- feature with photo1 -->
<section class="w3l-feature-with-photo-11">
		<div class="feature-with-photo-hny section-gap">
			<div class="wrapper">
					<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
							<!---728x90--->
					</div>
				<div class="feature-with-photo-content">
						<span class="hny-sub-head">What We Do</span>
					<h3 class="hny-title text-center">Home interiors designed and delivered<span class="sub-dot">.</sub></h3>
					
					<img src="{% static 'assets/images/service.jpg' %}" class="img-responsive" alt="" />
					<p>
						"Explore a spectrum of tailored services on our Interior Design Services page. From concept to execution, our skilled team offers a comprehensive range of design solutions. Whether you seek a full home transformation, room makeover, or personalized consultations, we bring creativity and expertise to every project. Dive into a world of possibilities where your vision meets our craftsmanship, delivering spaces that resonate with your unique style and aspirations.".</p>
					<div class="button-6">
						<div class="eff-6"></div>
						<a href="/gallery" class="btn"> Find Now </a>
				    </div>

				</div>
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			</div>
		</div>
	</section>
	<!-- //feature with photo1 -->
<section class="w3l-content-with-photo-6">
	<div class="contente-photo-hny-info section-gap">
		<div class="wrapper">
			<div class="content-photo-grids">
				<div class="content-photo-left">
					<img src="{% static 'assets/images/10.jpg' %}" class="img-responsive" alt="" />
				</div>
				<div class="content-photo-right">
					<span class="hny-sub">Real History</span>
					<h4>Best Interior Designs for your Family</h4>
					<p>At ASPECTHOMES, we are committed to crafting interior designs that go beyond aesthetics - we create homes that resonate with the unique essence of your family. Our tailored approach combines functionality, style, and a deep understanding of your lifestyle. From cozy family spaces to personalized rooms, our designs are a testament to our dedication in making your home a haven for shared moments and cherished memories. </p>
						<div class="button-6">
								<div class="eff-6"></div>
								<a href="/blog" class="btn">Read More</a>
						</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!-- /services-grids-->
	<section class="w3l-services-section">
		<div class="services-inner section-gap">
			<div class="wrapper">
					<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
							<!---728x90--->

						</div>
				<h3 class="hny-title text-center">How it works<span class="sub-dot">.</span></h3>
				<div class="service-grids d-grid">
					<div class="services-hny-gd">
						<span class="fa fa-user"></span>
						<h4>Talk To Our Designers</h4>
						<p>Discover your ideal designer and transform your space with our personalized matchmaking service – where vision meets expertise.</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-picture-o"></span>
						<h4>Get designs</h4>
						<p>Elevate your space effortlessly with our expertly curated interior designs tailored to your unique style and preferences.</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-map-marker"></span>
						<h4>Place order</h4>
						<p>Elevate your space with a click – effortlessly place your interior order for a customized design experience</p>
					</div>
					<div class="services-hny-gd">
						<span class="fa fa-truck"></span>
						<h4>Installation</h4>
						<p>Elevate your space with seamless and expert installations, turning your interior dreams into a reality.</p>
					</div>
				</div>

			</div>
		</div>
		<!-- /services-grids-->
	</section>
<!-- feature with photo6 -->
<section class="w3l-content-with-photo-11">
	<div class="contentwithphoto-11">
		<div class="wrapper-left">
			<div class="contentwithphoto-11-content">
				<div class="column contentwithphoto-text">
					<h3 class="hny-title">Perfection and quality, every step of the way</h3>
					<p>Perfection and quality define every step of our interior design process, ensuring your space is meticulously transformed with excellence. </p>
					<div class="contentwithphoto-text-info">
						<div class="column">
							<div class="icon">
								<span class="fa fa-podcast" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Superior High quality</a></h4>

						</div>
						<div class="column">
							<div class="icon">
								<span class="fa fa-shield" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Unmatched warranty</a></h4>

						</div>
						<div class="column">
							<div class="icon">
								<span class="fa fa-cogs" aria-hidden="true"></span>
							</div>
							<h4><a href="#">Professional services</a></h4>

						</div>

					</div>
				</div>
				<div class="column contentwithphoto-img">
					<img src="{% static 'assets/images/service2.jpg' %}" class="img-responsive-services" alt="" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //feature with photo6 -->
{% comment %} <section class="w3l-grid-slider-vv">
	<div class="grid-slider section-gap">
		<div class="wrapper">
			<h3 class="hny-title text-center">One stop for home interiors<span class="sub-dot">.</sub></h3>
			<!--  Demos -->
			<div id="demos">
				<div class="owl-carousel owl-theme grid-col-4">
					<div class="item">
						<a href="#link">
							<div class="gallery-grid">
								<div class="content">
									<div class="content-overlay"></div>
									<img src="{% static 'assets/images/g1.jpg' %}" class="image-two img-responsive">
									<div class="content-details fadeIn-bottom">
										<h4 class="content-title">Residential </h4>
									</div>
								</div>
							</div>

						</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g2.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Office</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g3.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g4.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Decor</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g5.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Furniture</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g6.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g7.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Residential </h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g9.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Interior Decor</h4>
		
											</div>
										</div>
									</div>
		
								</a>
					</div>
					<div class="item">
							<a href="#link">
									<div class="gallery-grid">
										<div class="content">
											<div class="content-overlay"></div>
											<img src="{% static 'assets/images/g9.jpg' %}" class="image-two img-responsive">
											<div class="content-details fadeIn-bottom">
												<h4 class="content-title">Home Design</h4>
											</div>
										</div>
									</div>
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /slider -->
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'assets/js/grids.owl.carousel.js' %}"></script>

	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 0,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 2000,
				autoplaySpeed: 1000,
				autoplayHoverPause: true,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 2,
						nav: true,
						margin: 20
					},
					667: {
						items: 3,
						nav: true,
						margin: 20
					},
					1000: {
						items: 4,
						nav: true,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- /slider -->

</section> {% endcomment %}
<section class="w3l-request-main-6">
		<div class="w3l-form-12-content section-gap">
				<div class="wrapper">
					<div class="grid grid-column-2 ">
						<div class="column1">
							<p class="tagline">aspecthomes<label class="log-w">.</label></p>
							<p class="form-para">Talk to a Designer</p>
							{%if messages %}
							{%for i in messages%}
							<script>alert("{{i}}");</script>
							{% endfor %}
							{% endif %}
							
								<form action="{% url 'talkdesigners' %}" method="POST">
									{% csrf_token %}
									<div class="">
										<input type="text" name="name" class="form-input" placeholder="Your Name" />
									</div>
									<div class="">
										<input type="email" name="email" class="form-input" placeholder="Email" />
									</div>
									<div class="">
										<input type="tel" name="phone" class="form-input" placeholder="Phone" />
									</div>
									<div class="">
											<input type="text" name="subject" class="form-input" placeholder="Subject" />
										</div>
									<button type="submit" class="btn">Get Free Quote</button>
								</form>
							</div>
							<div class="column2">
									<!-- <img src="assets/images/form.jpg" /> -->
							</div>
	
					</div>
				</div>
			</div>
</section>

{% include 'footer.html' %}
</body>
</html>