<!DOCTYPE html>
<html lang="en">

{% include 'nav.html' %}

<section class="w3l-inner-page-main">
    <div class="inner-hyv-page">
        <div class="wrapper">
             <h2 class="hny-title text-center">Terms and Services<span class="sub-dot">.</sub></h2>
        </div>
    </div>
</section>

<section class="w3l-feature-with-photo-11">
    <div class="feature-with-photo-hny section-gap">
        <div class="wrapper">
            <div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
                <!---728x90--->

            </div>

            <div class="feature-with-photo-content">
                    <!-- <span class="hny-sub-head">Terms & Services</span>
                <h3 class="hny-title about-head text-center">Our Terms & Services<span class="sub-dot">.</sub></h3> -->

                <h3 class="points">1. Acceptance of Terms :</h3>
                <p class="about-para-2">By accessing and using AspectHomes's website, you agree to abide by these terms and services. If you do not agree with any part of these terms, please refrain from using our services.</p>
                
                <h3 class="points">2. Design Consultations :</h3>
                <p class="about-para-2">Our design consultations are offered with the aim of understanding your preferences and requirements. Any advice provided during consultations is for guidance purposes only, and final decisions rest with the client.</p>
                
                <h3 class="points">3. Pricing and Payments :</h3>
                <p class="about-para-2">All pricing details will be discussed and agreed upon before commencing any project. Payments are due according to the agreed-upon schedule, and failure to make timely payments may result in project delays.</p>

                <h3 class="points">4. Intellectual Property :</h3>
                <p class="about-para-2">All designs, concepts, and materials created by AspectHomes remain the intellectual property of the company until the project is fully paid for. Usage or reproduction of these materials without explicit permission is prohibited.</p>

                <h3 class="points">5. Project Timelines :</h3>
                <p class="about-para-2">Project timelines are estimated and may be subject to change based on unforeseen circumstances or delays beyond our control. We will strive to communicate any changes promptly.</p>

                <h3 h3 class="points">6. Client Responsibilities :</h3>
                <p class="about-para-2">Clients are expected to provide accurate and timely information, including but not limited to measurements, preferences, and any other details required for the successful completion of the project.</p>

                <h3 h3 class="points">7. Privacy and Confidentiality :</h3>
                <p class="about-para-2">We respect your privacy. Any personal or sensitive information shared with us will be treated confidentially and will not be disclosed to third parties without your consent.</p>

                <h3 h3 class="points">8. Modifications to Terms :</h3>
                <p class="about-para-2">AspectHomes reserves the right to modify these terms and services at any time. Continued use of our services after modifications constitutes acceptance of the updated terms.</p>

                <h3 h3 class="points">9. Termination of Services :</h3>
                <p class="about-para-2">Either party reserves the right to terminate services with reasonable notice if terms are violated or for any other valid reason.</p>

                <h3 h3 class="points">10. Governing Law :</h3>
                <p class="about-para-2">These terms are governed by the laws of India, and any disputes will be settled in accordance with these laws.</p>

			</div>
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">
						<!---728x90--->

					</div>
			</div>
		</div>
	</section>
{% include 'footer.html' %}
</body>
</html>